<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
   THANKS To: Helge Klein for this Sample!

   Unattended setup: The following variables can be set:
   -  INSTALLDIR: Full path to the installation directory
   -  SERVERS: Splunk servers to send data to
   -->
	<!--
      ====================================================================================
      Defines & Variables
   -->
	<!-- Full version number to display <?define VersionNumber="!(bind.FileVersion.Product)" ?> -->
	<?define VersionNumber="0.1.6498" ?>
	<!--
   Upgrade code HAS to be the same for all updates.
   Once you've chosen it don't change it.
   -->
	<?define UpgradeCode="7448780e-b66a-43d3-be5a-eeba38a821ef" ?>
	<!-- The URL for add/remove programs -->
	<?define InfoURL="http://eventmessenger.hyperstack.de" ?>
	<?define LSM_ProgramDataDir = "C:\ProgramData\SimonsVoss\LockSysMgr\config" ?>
	<!-- 32-bit / 64-bit variables -->
	<?if $(var.Platform) = x64 ?>
	<?define Win64 = "yes" ?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?define EventMessengerExeSourcePath = "$(var.ProjectDir)..\EventMessenger\bin\Release\EventMessenger.exe" ?>
	<?else ?>
	<?define Win64 = "no" ?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?define EventMessengerExeSourcePath = "$(var.ProjectDir)..\EventMessenger\bin\Release\EventMessenger.exe" ?>
	<?endif ?>
	<!--
      ====================================================================================
      Package start $(var.EventMessenger.ProjectDir)Resources\!(loc.LicenseRtf)
   -->
	<!-- The upgrade code must never change as long as the product lives! -->
	<!-- Product IDs must be autogenerated (*) or else major upgrades will not work -->
	<Product Id="*" Name="$(var.EventMessenger.ProjectName)" Language="1033" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)">
		<!-- Package IDs are valid for a single package version only - they are autogenerated by WiX -->
		<!-- Let's require Windows Installer 4.0 (included in Vista) -->
		<!-- And ALWAYS install per machine!!! -->
		<Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine" Description="!(loc.ProductDescription)" Comments="!(loc.Comments) $(var.VersionNumber)" />
		<!-- License agreement text: dummy. Real text is set in WXS file -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.EventMessenger.ProjectDir)Resources\license.rtf" Overridable="yes"/>
		<!-- UI customization -->
		<!-- <WixVariable Id="WixUIBannerBmp" Value="images\BannerTop.bmp" />-->
		<!--<WixVariable Id="WixUIDialogBmp" Value="images\Dialog.bmp" />-->
		<!-- Define icons (ID should not be longer than 18 chars and must end with ".exe") -->
		<Icon Id="Icon.exe" SourceFile="$(var.EventMessenger.ProjectDir)Resources\logo.ico" />
		
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED" />
		
		<Property Id="LSM_HAS_EVENT_CMD">
			<DirectorySearch Id="ProgramDataPathSearch" Path="$(var.LSM_ProgramDataDir)" />
		</Property>
		
		<Property Id="LSM3.3_IS_INSTALLED_ON_64BIT_MACHINE">
			<RegistrySearch Id="LSMInstallDir1"
			                Name="WindowsInstaller"
			                Root="HKLM"
			                Key="Software\Microsoft\Windows\CurrentVersion\Installer\UserData\S-1-5-18\Products\1DECAC39A6FA3A1458DE98EDEB3412EF\InstallProperties"
			                Type="raw"
			                Win64="yes">
			</RegistrySearch>
		</Property>
		
		<Property Id="LSM3.3_SP2_IS_INSTALLED_ON_64BIT_MACHINE">
			<RegistrySearch Id="LSMInstallDir1.1"
			                Name="WindowsInstaller"
			                Root="HKLM"
			                Key="Software\Microsoft\Windows\CurrentVersion\Installer\UserData\S-1-5-18\Products\D510A3A43B3651D41BCECB93E9EE7537\InstallProperties"
			                Type="raw"
			                Win64="yes">
			</RegistrySearch>
		</Property>
		
		<Property Id="LSM3.3_IS_INSTALLED_ON_32BIT_MACHINE">
			<RegistrySearch Id="LSMInstallDir2"
			                Name="WindowsInstaller"
			                Root="HKLM"
			                Key="Software\Microsoft\Windows\CurrentVersion\Installer\UserData\S-1-5-18\Products\1DECAC39A6FA3A1458DE98EDEB3412EF\InstallProperties"
			                Type="raw"
			                Win64="no">
			</RegistrySearch>
		</Property>
		
		<Property Id="LSM3.3_SP2_IS_INSTALLED_ON_32BIT_MACHINE">
			<RegistrySearch Id="LSMInstallDir2.1"
			                Name="WindowsInstaller"
			                Root="HKLM"
			                Key="Software\Microsoft\Windows\CurrentVersion\Installer\UserData\S-1-5-18\Products\D510A3A43B3651D41BCECB93E9EE7537\InstallProperties"
			                Type="raw"
			                Win64="no">
			</RegistrySearch>
		</Property>
		<!-- Set properties for add/remove programs -->
		<Property Id="ARPPRODUCTICON" Value="Icon.exe" />
		<Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<!-- Remove repair -->
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		<!-- Remove modify -->
		<!-- Upgrade logic -->
		<!-- AllowSameVersionUpgrades -> Always upgrade, never allow two versions to be installed next to each other -->
		<!-- AllowSameVersionUpgrades causes ICE61 which must be ignored -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />
		<!-- This is the main installer sequence run when the product is actually installed -->
		<InstallExecuteSequence>
			<!-- Determine the install location after the install path has been validated by the installer -->
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate">
			</Custom>
		</InstallExecuteSequence>
		<!-- Set up ARPINSTALLLOCATION property (http://blogs.technet.com/b/alexshev/archive/2008/02/09/from-msi-to-wix-part-2.aspx) -->
		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
		<!--
         Launch conditions
 
         1. Check minimum OS version 
            If not, the installation is aborted.
            By doing the (Installed OR ...) property means that this condition will only be evaluated if the app is being installed and not on uninstall or changing
 
            Note: Under a Product element, a condition becomes a LaunchCondition entry. 
      -->
		<Condition Message="!(loc.OS2Old)"><![CDATA[Installed OR (VersionNT >= 601)]]></Condition>
		<Condition Message="!(loc.NetFramework452Required)"><![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]></Condition>
		<Condition Message="!(loc.LSM33SP1Required)">
			<![CDATA[Installed
			OR LSM3.3_IS_INSTALLED_ON_64BIT_MACHINE 
			OR LSM3.3_IS_INSTALLED_ON_32BIT_MACHINE 
			OR LSM3.3_SP2_IS_INSTALLED_ON_64BIT_MACHINE 
			OR LSM3.3_SP2_IS_INSTALLED_ON_32BIT_MACHINE]]></Condition>
		<Condition Message="Missing ProgramDataPath"><![CDATA[Installed OR LSM_HAS_EVENT_CMD]]></Condition>
		<!--
         2. Check OS bitness
            Unfortunately 32-bit MSI packages cannot write to 64-bit ProgramFiles directory. That is the only reason we need separate MSIs for 32-bit and 64-bit.
      -->
		<?if $(var.Platform) = x64 ?>
		<Condition Message="!(loc.x86VersionRequired)"><![CDATA[VersionNT64]]></Condition>
		<?endif ?>
		<?if $(var.Platform) = x86 ?>
		<Condition Message="!(loc.x64VersionRequired)"><![CDATA[NOT VersionNT64]]></Condition>
		<?endif ?>
		<!--
         Launch conditions end
      -->
		<!-- Save the command line value INSTALLDIR and restore it later in the sequence or it will be overwritten by the value saved to the registry during an upgrade -->
		<!-- http://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/ -->
		<CustomAction Id="SaveCmdLineValueINSTALLDIR" Property="CMDLINE_INSTALLDIR" Value="[INSTALLDIR]" Execute="firstSequence" />
		<CustomAction Id="SetFromCmdLineValueINSTALLDIR" Property="INSTALLDIR" Value="[CMDLINE_INSTALLDIR]" Execute="firstSequence" />
		<InstallUISequence>
			<Custom Action="SaveCmdLineValueINSTALLDIR" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValueINSTALLDIR" After="AppSearch">
			CMDLINE_INSTALLDIR
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="SaveCmdLineValueINSTALLDIR" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValueINSTALLDIR" After="AppSearch">
			CMDLINE_INSTALLDIR
			</Custom>
		</InstallExecuteSequence>
		<!-- Save the command line value SERVERS and restore it later in the sequence or it will be overwritten by the value saved to the registry during an upgrade -->
		<!-- http://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/ -->
		<CustomAction Id="SaveCmdLineValueSERVERS" Property="CMDLINE_SERVERS" Value="[SERVERS]" Execute="firstSequence" />
		<CustomAction Id="SetFromCmdLineValueSERVERS" Property="SERVERS" Value="[CMDLINE_SERVERS]" Execute="firstSequence" />
		<InstallUISequence>
			<Custom Action="SaveCmdLineValueSERVERS" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValueSERVERS" After="AppSearch">
			CMDLINE_SERVERS
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="SaveCmdLineValueSERVERS" Before="AppSearch" />
			<Custom Action="SetFromCmdLineValueSERVERS" After="AppSearch">
			CMDLINE_SERVERS
			</Custom>
		</InstallExecuteSequence>
		<!-- Determine the directory of a previous installation (if one exists). If not INSTALLDIR stays empty -->
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="DetermineInstallLocation" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="InstallLocation" />
		</Property>
		<!-- Determine the servers of a previous installation -->
		<Property Id="SERVERS">
			<RegistrySearch Id="DetermineServers" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="Servers" />
		</Property>
		<!-- Set default value if registry search comes up empty -->
		<!--
         ====================================================================================
         Start to build directory structure
      -->
		<!-- We do not have more than one medium (Floppy, CD, ...). Everything in one file. -->
		<Media Id="1" Cabinet="data.cab" EmbedCab="yes" />
		<!-- Outermost folder (kind of virtual). Fixed entry. -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!-- We start building our directory structure here -->
			<!-- "ProgramFilesFolder" is a variable containing the absolute path. -->
			<!-- For a list of folder variables, see: http://msdn.microsoft.com/en-us/library/aa372057%28VS.85%29.aspx -->
			<Directory Id="LSM_HAS_EVENT_CMD">
				<!-- All folders from here on are relative to their parent. -->
				<!-- Define components, the building blocks of MSIs. -->
				<!-- Rule: A component should only contain items that belong together so strongly that they always need to be installed or removed together. -->
				<!-- If this means a single file, then your components will contain a single file each. This is not only normal but exactly what you're -->
				<!-- to do. Don't be afraid, Windows Installer can efficiently handle thousands of components or more, if needed. -->
				<!-- Installation directory as a component so it can be emptied during uninstall (by default files added by someone other than Windows Installer are not removed) -->
				<Component Id="LSMEVENTCMDINSTALLDIR_comp" Guid="7448780e-b66a-43d3-be5a-eeba38a821ff">
					<CreateFolder />
					<RemoveFile Id="RemoveFilesFromProgramDataDirectory" Name="event_cmd.exe" On="uninstall" />
				</Component>
				<Component Id="Event_cmdExe" Guid="51E2BB10-5E26-4CA9-81F8-7FABDEAE3734" DiskId="1">
					<File Id="event_cmd.exe" Name="event_cmd.exe" Source="..\event_cmd\Release\event_cmd.exe" KeyPath="yes" />
				</Component>
			</Directory>
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<!-- All folders from here on are relative to their parent. -->
				<Directory Id="ProgramFilesHK" Name="!(loc.ManufacturerName)">
					<!-- INSTALLDIR is a property name. We need it later for the UI (to be able to change the install dir. -->
					<Directory Id="INSTALLDIR" Name="!(loc.ApplicationName)">
						<!-- Define components, the building blocks of MSIs. -->
						<!-- Rule: A component should only contain items that belong together so strongly that they always need to be installed or removed together. -->
						<!-- If this means a single file, then your components will contain a single file each. This is not only normal but exactly what you're -->
						<!-- to do. Don't be afraid, Windows Installer can efficiently handle thousands of components or more, if needed. -->
						<!-- Installation directory as a component so it can be emptied during uninstall (by default files added by someone other than Windows Installer are not removed) -->
						<Component Id="INSTALLDIR_comp" Guid="7448780e-b66a-43d3-be5a-eeba38a821ef">
							<CreateFolder />
							<RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
						</Component>
						<!-- Main program file -->
						<!-- Configuration file -->
						<!--<Component Id="uberAgent.conf_comp" Guid="7448780e-b66a-43d3-be5a-eeba38a821ef">
													<File Source="$(var.ProjectDir)..\uberAgent\Config file\Standalone mode\uberAgent.conf" Id="uberAgentConf" KeyPath="yes" />
													<IniFile Id="ConfigFile" Action="addLine" Directory="INSTALLDIR" Name="uberAgent.conf" Section="Receiver" Key="Servers" Value="[SERVERS]" />
												</Component>-->
						<Component Id="ANTLR.RUNTIME.DLL" DiskId="1" Guid="ED2B83EB-FE13-4319-ABBD-F090465C5410">
							<File Id="ANTLR.RUNTIME.DLL" Name="antlr.runtime.dll" Source="..\EventMessenger\bin\Release\antlr.runtime.dll" />
						</Component>
						<Component Id="ANTLR3.RUNTIME.DLL" DiskId="1" Guid="596B649D-5A83-4D16-9AFB-904EAA03D7C2">
							<File Id="ANTLR3.RUNTIME.DLL" Name="Antlr3.Runtime.dll" Source="..\EventMessenger\bin\Release\Antlr3.Runtime.dll" />
						</Component>
						<Component Id="ANTLR3.UTILITY.DLL" DiskId="1" Guid="5B080E42-A6C7-46C9-9B34-100EC4873527">
							<File Id="ANTLR3.UTILITY.DLL" Name="Antlr3.Utility.dll" Source="..\EventMessenger\bin\Release\Antlr3.Utility.dll" />
						</Component>
						<Component Id="AUTOFAC.DLL" DiskId="1" Guid="5D3A26B2-CFA5-49D7-A4A8-9930DB6C3C17">
							<File Id="AUTOFAC.DLL" Name="Autofac.dll" Source="..\EventMessenger\bin\Release\Autofac.dll" />
						</Component>
						<Component Id="COMMON.LOGGING.DLL" DiskId="1" Guid="DC8BD2A7-142B-4730-9110-BE359F50C8C4">
							<File Id="COMMON.LOGGING.DLL" Name="Common.Logging.dll" Source="..\EventMessenger\bin\Release\Common.Logging.dll" />
						</Component>
						<Component Id="EVENTMESSENGER.EXE" DiskId="1" Guid="1B032F85-7902-47A4-8BA8-D11D14631409">
							<File Id="EVENTMESSENGER.EXE" Name="EventMessenger.exe" Source="..\EventMessenger\bin\Release\EventMessenger.exe">
								<Shortcut Id="ExeShortcut" Directory="ProgramMenuFolder" Name="EventMessenger" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
							</File>
						</Component>
						<Component Id="EVENTMESSENGER.EXE.CONFIG" DiskId="1" Guid="*">
							<File Id="EVENTMESSENGER.EXE.CONFIG" Name="EventMessenger.exe.config" Source="..\EventMessenger\bin\Release\EventMessenger.exe.config" />
						</Component>
						<Component Id="GALASOFT.MVVMLIGHT.DLL" DiskId="1" Guid="38412D4D-1A3F-4EC8-BC89-56B5CCFB90C4">
							<File Id="GALASOFT.MVVMLIGHT.DLL" Name="GalaSoft.MvvmLight.dll" Source="..\EventMessenger\bin\Release\GalaSoft.MvvmLight.dll" />
						</Component>
						<Component Id="GALASOFT.MVVMLIGHT.EXTRAS.DLL" DiskId="1" Guid="787E0914-B2E8-4847-A9F1-E7B8DECCE36B">
							<File Id="GALASOFT.MVVMLIGHT.EXTRAS.DLL" Name="GalaSoft.MvvmLight.Extras.dll" Source="..\EventMessenger\bin\Release\GalaSoft.MvvmLight.Extras.dll" />
						</Component>
						<Component Id="GALASOFT.MVVMLIGHT.PLATFORM.DLL" DiskId="1" Guid="30EDB3AE-6B08-488D-8020-0AC408A61517">
							<File Id="GALASOFT.MVVMLIGHT.PLATFORM.DLL" Name="GalaSoft.MvvmLight.Platform.dll" Source="..\EventMessenger\bin\Release\GalaSoft.MvvmLight.Platform.dll" />
						</Component>
						<Component Id="HARDCODET.WPF.TASKBARNOTIFICATION.DLL" DiskId="1" Guid="08DABAD7-AC9A-4D37-A6C1-570868A74278">
							<File Id="HARDCODET.WPF.TASKBARNOTIFICATION.DLL" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="..\EventMessenger\bin\Release\Hardcodet.Wpf.TaskbarNotification.dll" />
						</Component>
						<Component Id="DOTNETZIP.DLL" DiskId="1" Guid="E7EE89BC-8893-4D29-B465-916E831CFCB9">
							<File Id="DOTNETZIP.DLL" Name="DotNetZip.dll" Source="..\EventMessenger\bin\Release\DotNetZip.dll" />
						</Component>
						<Component Id="KNX.BUS.COMMON.DLL" DiskId="1" Guid="A5402F14-B6D8-4092-970B-747691943966">
							<File Id="KNX.BUS.COMMON.DLL" Name="Knx.Bus.Common.dll" Source="..\EventMessenger\bin\Release\Knx.Bus.Common.dll" />
						</Component>
						<Component Id="KNX.FALCON.DLL" DiskId="1" Guid="B05C31D9-1924-40E8-806E-96EDF7AE982F">
							<File Id="KNX.FALCON.DLL" Name="Knx.Falcon.dll" Source="..\EventMessenger\bin\Release\Knx.Falcon.dll" />
						</Component>
						<Component Id="KNX.FALCON.SDK.DLL" DiskId="1" Guid="1CAA77DC-A08E-4F01-A7FB-AAD77A13864C">
							<File Id="KNX.FALCON.SDK.DLL" Name="Knx.Falcon.Sdk.dll" Source="..\EventMessenger\bin\Release\Knx.Falcon.Sdk.dll" />
						</Component>
						<Component Id="KNX.FALCON.USBACCESSWINDOWS.DLL" DiskId="1" Guid="68B3A2C5-0DFA-4328-B2C9-C610776D12EA">
							<File Id="KNX.FALCON.USBACCESSWINDOWS.DLL" Name="Knx.Falcon.UsbAccessWindows.dll" Source="..\EventMessenger\bin\Release\Knx.Falcon.UsbAccessWindows.dll" />
						</Component>
						<Component Id="LOG4NET.DLL" DiskId="1" Guid="E2DF7029-0437-44BE-B764-235414602748">
							<File Id="LOG4NET.DLL" Name="log4net.dll" Source="..\EventMessenger\bin\Release\log4net.dll" />
						</Component>
						<Component Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" DiskId="1" Guid="96981E42-5E53-4878-95E8-18B026876434">
							<File Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" Name="Microsoft.Practices.ServiceLocation.dll" Source="..\EventMessenger\bin\Release\Microsoft.Practices.ServiceLocation.dll" />
						</Component>
						<Component Id="NEWTONSOFT.JSON.DLL" DiskId="1" Guid="3CF35709-81AA-45B5-A598-4CF9304FF298">
							<File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="..\EventMessenger\bin\Release\Newtonsoft.Json.dll" />
						</Component>
						<Component Id="QUARTZ.DLL" DiskId="1" Guid="9CFF0AAA-15E0-4C1C-B406-2853E4573A33">
							<File Id="QUARTZ.DLL" Name="Quartz.dll" Source="..\EventMessenger\bin\Release\Quartz.dll" />
						</Component>
						<Component Id="STRINGTEMPLATE.DLL" DiskId="1" Guid="E16C6707-2036-4FA7-AEB1-CAA78E2C0BBB">
							<File Id="STRINGTEMPLATE.DLL" Name="StringTemplate.dll" Source="..\EventMessenger\bin\Release\StringTemplate.dll" />
						</Component>
						<Component Id="SYSTEM.NET.HTTP.FORMATTING.DLL" DiskId="1" Guid="9FE2373F-A8B2-4B12-9384-2643F2DA68CB">
							<File Id="SYSTEM.NET.HTTP.FORMATTING.DLL" Name="System.Net.Http.Formatting.dll" Source="..\EventMessenger\bin\Release\System.Net.Http.Formatting.dll" />
						</Component>
						<Component Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" DiskId="1" Guid="4E2836D7-5230-415C-86FC-35F38FD9061B">
							<File Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" Name="System.Windows.Interactivity.dll" Source="..\EventMessenger\bin\Release\System.Windows.Interactivity.dll" />
						</Component>
						<Component Id="TELEGRAM.BOT.DLL" DiskId="1" Guid="112C15CF-C1CA-426F-B9FB-7AD8F1F3CC94">
							<File Id="TELEGRAM.BOT.DLL" Name="Telegram.Bot.dll" Source="..\EventMessenger\bin\Release\Telegram.Bot.dll" />
						</Component>
						<Directory Id="DE" Name="de">
							<Component Id="EVENTMESSENGER.RESOURCES.DLL" DiskId="1" Guid="93265C00-59DB-40EE-833F-5B122740940A">
								<File Id="EVENTMESSENGER.RESOURCES.DLL" Name="EventMessenger.resources.dll" Source="..\EventMessenger\bin\Release\de\EventMessenger.resources.dll" />
							</Component>
						</Directory>
						<Directory Id="EN" Name="en">
							<Component Id="EVENTMESSENGER.RESOURCES.DLL_1" DiskId="1" Guid="C21B3BCA-A491-4430-B749-722E38F4D076">
								<File Id="EVENTMESSENGER.RESOURCES.DLL_1" Name="EventMessenger.resources.dll" Source="..\EventMessenger\bin\Release\en\EventMessenger.resources.dll" />
							</Component>
						</Directory>
						<Component Id="Eventmessenger_enChm" Guid="5CD771B8-A76F-42AE-89A7-FDFE0E171A0F" DiskId="1">
							<File Id="eventmessenger_en.chm" Name="eventmessenger_en.chm" Source="..\Documentation\chm_en\eventmessenger_en.chm" KeyPath="yes" />
						</Component>
						<Component Id="Eventmessenger_deChm" Guid="74364115-59E2-4E3C-B05F-D0698D8723B0" DiskId="1">
							<File Id="eventmessenger_de.chm" Name="eventmessenger_de.chm" Source="..\Documentation\chm_de\eventmessenger_de.chm" KeyPath="yes" />
						</Component>
						<Component Id="ArcExe" Guid="7EA9CB44-0771-4B8D-8950-9239AC14DB11" DiskId="1">
							<File Id="arc.exe" Name="arc.exe" Source="..\arc\bin\Release\arc.exe" KeyPath="yes" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<!-- Registry entries -->
			<Component Id="RegValInstallLocation_comp" Guid="7448780e-b66a-43d3-be5a-eeba38a821ee">
				<!-- Do NOT use the application's default registry key here, because THIS key will be removed on uninstall
						                 (important when installing a newer version, because that is uninstall followed by install) -->
				<RegistryKey Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)">
					<RegistryValue Name="InstallLocation" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
				</RegistryKey>
			</Component>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="EventMessenger">
					<Component Id="StartMenuShortcuts" Guid="D5357D5D-17BA-4E6E-AF2B-E21312A0400D">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<!--
         End of directory structure
         ====================================================================================
      -->
		<!-- Features define which parts of the application can be installed in a custom installation -->
		<Feature Id="Complete" Title="!(loc.ApplicationName)" Description="!(loc.FeatureCompleteDescription)" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
			<!-- A feature block for the main (GUI) program and all its dependencies -->
			<Feature Id="MainProgram" Title="!(loc.FeatureMainProgramTitle)" Description="!(loc.FeatureMainProgramDescription)" Level="1">
				<ComponentRef Id="INSTALLDIR_comp" />
				<!-- Registry entries -->
				<ComponentRef Id="RegValInstallLocation_comp" />
				<ComponentRef Id="ANTLR.RUNTIME.DLL" />
				<ComponentRef Id="ANTLR3.RUNTIME.DLL" />
				<ComponentRef Id="ANTLR3.UTILITY.DLL" />
				<ComponentRef Id="AUTOFAC.DLL" />
				<ComponentRef Id="COMMON.LOGGING.DLL" />
				<ComponentRef Id="EVENTMESSENGER.EXE" />
				<ComponentRef Id="EVENTMESSENGER.EXE.CONFIG" />
				<ComponentRef Id="GALASOFT.MVVMLIGHT.DLL" />
				<ComponentRef Id="GALASOFT.MVVMLIGHT.EXTRAS.DLL" />
				<ComponentRef Id="GALASOFT.MVVMLIGHT.PLATFORM.DLL" />
				<ComponentRef Id="HARDCODET.WPF.TASKBARNOTIFICATION.DLL" />
				<ComponentRef Id="DOTNETZIP.DLL" />
				<ComponentRef Id="KNX.BUS.COMMON.DLL" />
				<ComponentRef Id="KNX.FALCON.DLL" />
				<ComponentRef Id="KNX.FALCON.SDK.DLL" />
				<ComponentRef Id="KNX.FALCON.USBACCESSWINDOWS.DLL" />
				<ComponentRef Id="LOG4NET.DLL" />
				<ComponentRef Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" />
				<ComponentRef Id="NEWTONSOFT.JSON.DLL" />
				<ComponentRef Id="QUARTZ.DLL" />
				<ComponentRef Id="STRINGTEMPLATE.DLL" />
				<ComponentRef Id="SYSTEM.NET.HTTP.FORMATTING.DLL" />
				<ComponentRef Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" />
				<ComponentRef Id="TELEGRAM.BOT.DLL" />
				<ComponentRef Id="EVENTMESSENGER.RESOURCES.DLL" />
				<ComponentRef Id="EVENTMESSENGER.RESOURCES.DLL_1" />
				<ComponentRef Id="Eventmessenger_enChm" />
				<ComponentRef Id="Eventmessenger_deChm" />
				<ComponentRef Id="ArcExe" />
			</Feature>
			
			<Feature Id="StartMenu" Title="!(loc.FeatureStartMenuTitle)" Description="!(loc.FeatureStartMenuDescription)" Level="1">
				<ComponentRef Id="StartMenuShortcuts" />
			</Feature>
			
			<Feature Id="EventCMD" Title="!(loc.FeatureEventCMDTitle)" Description="!(loc.FeatureEventCMDDescription)" Level="1">
				<ComponentRef Id="LSMEVENTCMDINSTALLDIR_comp" />
				<ComponentRef Id="Event_cmdExe" />
			</Feature>
		
		</Feature>
		<UI>
			<!-- Define the installer UI / WixUI_Mondo / WixUI_HK -->
			<UIRef Id="WixUI_Mondo" />
		</UI>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Icon Id="StartMenuIcon.exe" SourceFile="..\EventMessenger\bin\Release\EventMessenger.exe" />
	</Product>
</Wix>